<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="MainCtrl">
      <ion-header-bar id="drive-bar" class="bar-positive">
        <h1 class="title">Just Drive</h1>
      </ion-header-bar>
      <ion-content>
        <div id="personal-card" class="card">
          <div class="item item-avatar">
            <img src="img/avatar.png">
              <span class="driver pull-right">{{user.name}}</span>
            <h2 class="rating">
              {{user.rating}}<small class="rating-total">/100</small>
            </h2>
            <p ng-show="status">{{status}}</p>
          </div>
        </div>
        <div class="list">
          <div class="item item-divider no-top-border">
            Friends
          </div>
          <a class="item item-avatar" ng-click="requestRide(contact.name)" ng-repeat="contact in contacts">
            <img src="img/avatar.png">
            <h2 class="rating">
              {{contact.rating}}<small class="rating-total">/100</small>
              <span class="driver pull-right">{{contact.name}}</span>
            </h2>
          </a>
        </div>
      </ion-content>
    </ion-pane>

  </body>
</html>
