/* Empty. Add your own CSS if you like */
.ionic-scroll {
	background-color: #f5f5f5;
}

.no-top-border {
	border-top: 0;
}

.item .rating {
	font-size: 40px;
	color: black;
}

.item .rating-total {
	font-size: 16px;
	color: grey;
}

.item .driver {
	font-size: 16px;
	margin-top: 24px;
}